%div{:class => "row"}
  %div{:class => "col-lg-4 box"}
    - if contents[0][:picture]
      %img{:src => "#{contents[0][:link]}"}
    - else
      %a{:href => "#{contents[0][:link]}"}
        %h4{:class => "green"}= contents[0][:title]
      %date= contents[0][:created_at]
      %p= contents[0][:summary]
  %div{:class => "col-lg-8 box"}
    - if contents[1][:picture]
      %img{:src => "#{contents[1][:link]}"}
    - else
      %a{:href => "#{contents[1][:link]}"}
        %h4{:class => "green"}= contents[1][:title]
      %date= contents[1][:created_at]
      %p= contents[1][:summary]

